<!DOCTYPE html >
<html>
<head>
  <title>#{get 'title' /}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" media="screen"
        href="@{'/public/stylesheets/main.css'}" />
  <link rel="shortcut icon" type="image/png"
        href="@{'/public/images/favicon.png'}" />
</head>
<body>
<script src="http://bucketadmin.themebucket.net/js/jquery-1.10.2.min.js"></script>
<script src="http://bucketadmin.themebucket.net/js/jquery-migrate.js"></script>


<div id="main">
#{doLayout /}
</div>




</body>
</html>
